<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Contact List</title>
    <script src="~/wwwroot/lib/angular/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/wwwroot/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/wwwroot/styles/main.css" rel="stylesheet" />
</head>
<body>
    <div ng-cloak>
        @RenderBody()
    </div>
    <script src="~/wwwroot/lib/babel/dist/polyfill.js"></script>
    <script src="~/wwwroot/lib/angular-animate/angular-animate.js"></script>
    <script src="~/wwwroot/lib/angular-aria/angular-aria.js"></script>
    <script src="~/wwwroot/lib/angular-material/angular-material.js"></script>
    <script src="~/wwwroot/lib/systemjs/dist/system.js"></script>
    <script src="~/wwwroot/system.conf.js"></script>
    <script type="text/javascript">
    System.import('js/dist/app.js');
    </script>

</body>
</html>
